h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #444444;
    text-transform: uppercase;
}

h2>span {
    position: relative;
}

h2>span::after {
    content: "";
    height: 2px;
    background: #444444;
    width: 40%;
    margin-left: -20%;
    left: 50%;
    top: 120%;
    position: absolute;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

.services,
.works,
.team,
.blog,
.contact,
footer {
    padding: 60px 0;
}

header {
    background-color: #161c35;
    height: 65px;
    position: sticky;
    top: 0;
    z-index: 10;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.bb {
    border: 1px solid red;
}

.main_wraper {
    margin: 0 auto;
    width: 1170px;
    padding: 0 15px;
}

header>.main_wraper {
    display: flex;
    align-items: center;
    height: 100%;
}

.main-menu {
    margin-left: auto;
}

.main-menu>ul>li {
    display: inline-block;
    position: relative;
    margin-left: 15px;
    color: white;
    font-weight: 400;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

.main-menu>ul>li>a {
    letter-spacing: 1px;
    color: inherit;
}

.main-menu>ul>li>a::after {
    content: "";
    width: 10%;
    height: 3px;
    background: #00D5C3;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 25px;
    opacity: 0;
    transition: 0.5s;
}

.main-menu>ul>li>a:hover::after {
    opacity: 1;
    width: 100%;
}

.main-board {
    height: 500px;
    background: url(src/bg.jpg);
    background-size: cover;
    background-position: 50% - 50px;
    position: relative;
}

.main-board>.main_wraper {
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 2;
}

.main-board_left-block {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.main-board .main_wraper>img {
    margin: auto;
}

.main-board::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(33, 42, 73, 0.6);
    z-index: 1;
}

.main-board h1 {
    color: #fff;
    padding: 25px 0 0 30px;
    margin-bottom: 35px;
    position: relative;
}

.main-board h1::before {
    content: "";
    width: 115px;
    height: 5px;
    background: #00D5C3;
    position: absolute;
    top: 0;
    left: 0;
}

.main-board h1::after {
    content: "";
    height: 115px;
    width: 5px;
    background: #00D5C3;
    position: absolute;
    top: 0;
    left: 0;
}

.main-board_left-block>div:first-of-type {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 45px;
}

.main-board_left-block>div:last-of-type {
    display: flex;
}

.main-board_button-link {
    display: flex;
    align-items: center;
    width: 165px;
    height: 50px;
    border: 1px solid #00D5C3;
    color: #FFFFFF;
    border-radius: 0 5px;
    margin-right: 15px;
    font-size: 12px;
    transition-duration: 0.3s;
}

.main-board_button-link>i {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    color: #00D5C3;
    width: 26px;
    transition-duration: 0.3s;
}

.main-board_button-link:hover {
    background: #00D5C3;
}

.main-board_button-link:hover>i {
    color: #FFFFFF;
}

.box-icon {
    height: 108px;
    width: 108px;
    line-height: 108px;
    text-align: center;
    border: 1px solid #161C35;
    border-radius: 50%;
    margin: 0 auto;
    transition-duration: 0.3s;
}

.box-icon>i {
    color: #161C35;
    font-size: 54px;
    line-height: 108px;
    transition-duration: 0.3s;
}

.services_block-item {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.services_item>a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 150px;
    font-size: 18px;
    color: #161C35;
    border: 1px solid #161C35;
    border-radius: 0 5px;
    transition-duration: 0.3s;
}

.services_item {
    flex: 0 0 32%;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    transition-duration: 0.3s;
}

.services_item > p {
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #666666;
}

.services_item > h3 {
    margin: 23px 0;
    color: #161C35;
    text-align: center;
}

.services_item:hover {
    box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.2);
}

.services_item:hover .box-icon {
    background-color: #161C35;
}

.services_item:hover>.box-icon>i {
    color: white;
}

.services_item>a:hover {
    color: white;
    background-color: #161C35;
}

.works {
    background: url(src/banner-bg.jpg) no-repeat;
    background-size: cover;
    position: relative;
    color: #FFFFFF;
}

.works::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(33, 42, 73, 0.6);
    z-index: 1;
}

.works h2 {
    color: #FFFFFF;
}

.works h2>span::after {
    background: #FFFFFF;
}

.works_block-items_text {
    flex: 0 0 60%;
    margin-top: 30px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.works_block-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.works_block-items_text>p {
    margin: 30px 0 20px 0;
}

.works_block-items_text li {
    padding-left: 22px;
    margin-bottom: 20px;
    position: relative;
}

.works_block-items_text li::before {
    content: '\f105';
    font-family: fontawesome;
    color: #00D5C3;
    left: 0;
    position: absolute;
}

.works > .main_wraper, .blog > .main_wraper {
    position: relative;
    z-index: 2;
}

.team_items {
    display: flex;
    padding: 30px 10px 0 10px;
    justify-content: space-between;
}

.team_items-person_info {
    padding: 20px;
    box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.2);
}

.team_items-person_info > span {
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.team_items-person {
    flex: 0 0 255px;
    color: #666666;
}


.team_items-person > figure {
    overflow: hidden;
    position: relative;
    height: 260px;
}

.team_items-person > figure > img {
    transition-duration: 1s;
}

.team_items-person > figure:hover > img {
    transform: scale(1.1);
}

.team_items-person > figure > figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(22, 28, 53, 0);
    display: flex;
    justify-content: center;
    transition-duration: 0.5s;
}

.team_items-person > figure:hover > figcaption {
    background: rgba(22, 28, 53, 0.7);
}


.team_items-person > figure > figcaption > a {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
    margin-top: auto;
    font-size: 16px;
    transition-duration: 0.5s;
}

.team_items-person > figure > figcaption > a:hover {
    color: #00D5C3;
    background: #FFFFFF;
}

.team_items-person > figure > figcaption > a:first-child {
    translate: 0 50px;
}

.team_items-person > figure > figcaption > a:nth-child(2) {
    translate: 0 90px;
}

.team_items-person > figure > figcaption > a:last-child {
    translate: 0 120px;
}

.team_items-person > figure:hover > figcaption > a {
    translate: 0 0;
}