h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #444444;
    text-transform: uppercase;
}

h2>span {
    position: relative;
}

h2>span::after {
    content: "";
    height: 2px;
    background: #444444;
    width: 40%;
    margin-left: -20%;
    left: 50%;
    top: 120%;
    position: absolute;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

.services,
.works,
.team,
.blog,
.contact,
footer {
    padding: 60px 0;
}

header {
    background-color: #161c35;
    height: 65px;
    position: sticky;
    top: 0;
    z-index: 10;
}

header>.main_wraper {
    display: flex;
    align-items: center;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.main_wraper {
    margin: 0 auto;
    width: 1170px;
    padding: 0 15px;
}

.main-menu {
    margin-left: auto;
}

.main-menu>ul>li {
    display: inline-block;
    position: relative;
    margin-left: 15px;
    color: white;
    font-weight: 400;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

.main-menu>ul>li>a {
    letter-spacing: 1px;
    color: inherit;
}

.main-menu>ul>li>a::after {
    content: "";
    width: 10%;
    height: 3px;
    background: #00D5C3;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 25px;
    opacity: 0;
    transition: 0.5s;
}

.main-menu>ul>li>a:hover::after {
    opacity: 1;
    width: 100%;
}

.main-board {
    height: 500px;
    background: url(src/bg.jpg) no-repeat fixed;
    background-size: cover;
    background-position: 50% -50px;
    position: relative;
    width: 100%;
}

.main-board>.main_wraper {
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 2;
}

.main-board_left-block {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.main-board .main_wraper>img {
    margin: auto;
}

.main-board::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(33, 42, 73, 0.6);
    z-index: 1;
}

.main-board h1 {
    color: #fff;
    padding: 25px 0 0 30px;
    margin-bottom: 35px;
    position: relative;
}

.main-board h1::before {
    content: "";
    width: 115px;
    height: 5px;
    background: #00D5C3;
    position: absolute;
    top: 0;
    left: 0;
}

.main-board h1::after {
    content: "";
    height: 115px;
    width: 5px;
    background: #00D5C3;
    position: absolute;
    top: 0;
    left: 0;
}

.main-board_left-block>div:first-of-type {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 45px;
}

.main-board_left-block>div:last-of-type {
    display: flex;
}

.main-board_button-link {
    display: flex;
    align-items: center;
    width: 165px;
    height: 50px;
    border: 1px solid #00D5C3;
    color: #FFFFFF;
    border-radius: 0 5px;
    margin-right: 15px;
    font-size: 12px;
    transition-duration: 0.3s;
}

.main-board_button-link>i {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    color: #00D5C3;
    width: 26px;
    transition-duration: 0.3s;
}

.main-board_button-link:hover {
    background: #00D5C3;
}

.main-board_button-link:hover>i {
    color: #FFFFFF;
}

.box-icon {
    height: 108px;
    width: 108px;
    line-height: 108px;
    text-align: center;
    border: 1px solid #161C35;
    border-radius: 50%;
    margin: 0 auto;
    transition-duration: 0.3s;
}

.box-icon>i {
    color: #161C35;
    font-size: 54px;
    line-height: 108px;
    transition-duration: 0.3s;
}

.services_block-item {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.services_item>a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 150px;
    font-size: 18px;
    color: #161C35;
    border: 1px solid #161C35;
    border-radius: 0 5px;
    transition-duration: 0.3s;
}

.services_item {
    flex: 0 0 32%;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    transition-duration: 0.3s;
}

.services_item>p {
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #666666;
}

.services_item>h3 {
    margin: 23px 0;
    color: #161C35;
    text-align: center;
}

.services_item:hover {
    box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.2);
}

.services_item:hover .box-icon {
    background-color: #161C35;
}

.services_item:hover>.box-icon>i {
    color: white;
}

.services_item>a:hover {
    color: white;
    background-color: #161C35;
}

.works {
    background: url(src/banner-bg.jpg) no-repeat;
    background-size: cover;
    position: relative;
    color: #FFFFFF;
}

.works::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(33, 42, 73, 0.6);
    z-index: 1;
}

.works h2, .blog h2 {
    color: #FFFFFF;
    margin-bottom: 30px;
}

.works h2>span::after, .blog h2>span::after {
    background: #FFFFFF;
}

.works_block-items_text {
    flex: 0 0 60%;
    margin-top: 30px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.works_block-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.works_block-items_text>p {
    margin: 30px 0 20px 0;
}

.works_block-items_text li {
    padding-left: 22px;
    margin-bottom: 20px;
    position: relative;
}

.works_block-items_text li::before {
    content: '\f105';
    font-family: fontawesome;
    color: #00D5C3;
    left: 0;
    position: absolute;
}

.works>.main_wraper,
.blog>.main_wraper {
    position: relative;
    z-index: 2;
}

.team_items {
    display: flex;
    padding: 30px 10px 0 10px;
    justify-content: space-between;
}

.team_items-person_info {
    padding: 20px;
    box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.2);
}

.team_items-person_info>span {
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.team_items-person {
    flex: 0 0 255px;
    color: #666666;
}


.team_items-person>figure {
    overflow: hidden;
    position: relative;
    height: 260px;
}

.team_items-person>figure>img {
    transition-duration: 1s;
}

.team_items-person>figure:hover>img {
    transform: scale(1.1);
}

.team_items-person>figure>figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(22, 28, 53, 0);
    display: flex;
    justify-content: center;
    transition-duration: 0.5s;
}

.team_items-person>figure:hover>figcaption {
    background: rgba(22, 28, 53, 0.7);
}


.team_items-person>figure>figcaption>a {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
    margin-top: auto;
    font-size: 16px;
    transition-duration: 0.5s;
}

.team_items-person>figure>figcaption>a:hover {
    color: #00D5C3;
    background: #FFFFFF;
}

.team_items-person>figure>figcaption>a:first-child {
    translate: 0 50px;
}

.team_items-person>figure>figcaption>a:nth-child(2) {
    translate: 0 90px;
}

.team_items-person>figure>figcaption>a:last-child {
    translate: 0 120px;
}

.team_items-person>figure:hover>figcaption>a {
    translate: 0 0;
}

.blog {
    background: url(src/blog-bg.jpg) no-repeat;
    background-size: cover;
    position: relative;    
    background-position: center center; 
}

.blog::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(22, 28, 53, 0.7);
}

.blog_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.blog_container_item {
    height: 275px;
    flex: 0 0 49%;
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
    margin-bottom: 22px;
}

.blog_container_image {
    flex: 0 0 50%;
    height: 100%;
    filter: grayscale(0.9);
    transition-duration: 0.3s;
    position: relative;
    background-position: center center;
}

.blog_container_image::after {
    content: '';
    position: absolute;
    top: 0;
    border: 15px solid transparent;
    border-right: 15px solid #FFFFFF;
    margin-top: -15px;
    top: 50%;
    right: 0;
}

.blog_container_item > .image1 {
    background: url(src/6-850x850.jpg); 
    background-size: cover;
}

.blog_container_item > .image2 {
    background: url('src/5-850x850.jpg');
    background-size: cover; 
}

.blog_container_item > .image3 {
    background: url('src/2-850x850.jpg');
    background-size: cover; 
}

.blog_container_item > .image4 {
    background: url('src/1-850x850.jpg');
    background-size: cover; 
}

.blog_container_item-text {
    text-align: center;
    width: 100%;
    padding: 40px;
}

.blog_container_item-text > span {
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333;
    text-align: center;
}

.blog_container_item-text > p {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333;
    text-align: center;
    font-weight: 600;
}

.blog_container_item:hover > .blog_container_image {
    filter: grayscale(0.0);
}

.blog_container_item:hover  p {
    text-decoration: underline;
}

.blog .all_posts {
    display: block;
    height: 40px;
    width: 180px;
    margin: 0 auto;
    line-height: 40px;
    text-align: center;
    border: 1px solid #00D5C3;
    border-radius: 0 5px;
    color: #00D5C3;
    text-transform: capitalize;
    font-size: 18px;
    transition-duration: 0.5s;
}

.blog .all_posts:hover {
    background-color: #00D5C3;
    color: #FFFFFF;
}

.contact_map {
    width: 100%;
    margin-top: 30px;
}

.subscribe {
    background: url(src/bg.jpg) no-repeat fixed;
    background-size: cover;
    background-position: 50% -50px;
    height: 200px;
    position: relative;
}

.subscribe::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(22, 28, 53, 0.7);
}

.subscribe > .main_wraper {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscribe_button {
    background: #00D5C3;
    padding: 5px;
    font-size: 20px;
    width: 100px;
    color: #FFFFFF;
}

.subscribe_button:hover {
    color: #00D5C3; 
    background: #FFFFFF;
}

.subscribe_input {
    padding: 10px;
    font-size: 20px;
    width: 450px;
    border: 1px solid #00D5C3;
    background: transparent;
    color: #FFFFFF;
}

.subscribe_input::placeholder {
    color: #FFFFFF;
}

.subscribe span {
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
}

.subscribe_text {
    margin-bottom: 20px;
    font-size: 20px;
    color: #00D5C3;
    text-transform: capitalize;
    font-weight: 200;
}

.subscribe form {
    display: flex;
    justify-content: center;
}

.footer {
    height: 250px;
    text-align: center;
}

.footer_icons {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.footer_icons > a {
    font-size: 17px;
    padding: 13px;
    position: relative;
    color: #161C35;
}

.footer_icons > a::after {
    content: '';
    width: 26px;
    height: 26px;
    border: 1px solid #161C35;
    position: absolute;
    top: 7px;
    left: 8px;
    rotate: 45deg;
    z-index: -1;
}

.footer_icons > a:hover::after {
    background: #161C35;
}

.footer_icons > a:hover {
    color: #FFFFFF;
}

@media (max-width: 1170px) {
    .main_wraper {
        width: 100%;
    }

    .team_items {
        overflow: scroll;
        padding-bottom: 20px;
    }

    .team_items-person {
        margin-right: 10px;
    }

    .team_items-person:last-of-type {
        margin-right: 0 ;
    }

    .services_item {
        border: 1px solid #161c356e;
    }
}

@media (max-width: 975px) {
    .works_block-items {
        flex-direction: column;
    }
}

@media (max-width: 920px) {
    .main-board {
        height: 100%;
        padding: 30px 0;
    }
    .main-board > .main_wraper {
        flex-wrap: wrap;
    }
    .main-board .main-board_left-block {
        width: auto;
        align-items: center;
        margin-bottom: 20px;
    }

    .services .services_block-item {
        flex-wrap: wrap;
        justify-content: center;
    }

    .services_item {
        height: auto;
        flex-basis: 350px;
        margin: 10px;
    }

    .services, .works, .team, .blog, .contact, footer {
        padding: 30px 0;
    }
}

@media (max-width: 780px) {
    .blog_container_item {
        flex-basis: 100%;
    }
}

@media (max-width: 720px) {
    header {
        height: auto;
        padding: 5px;
    }

    header > .main_wraper {
        flex-direction: column;
    }
    .main-menu {
        margin: 10px 0;
        margin-left: 0;
        font-size: 16px;
    }
}

@media (max-width: 640px) {
    .main-board h1 {
        font-size: 36px;
        line-height: unset;
        padding: 15px 0 0 20px;
    }

    .main-board h1::after {
        width: 80px;
        height: 4px;
    }

    .main-board h1::before {
        height: 80px;
        width: 4px;
    }

    .subscribe form [type="text"] {
        width: 100%;
    }
}

@media (max-width: 520px) {
    .main-menu {
        text-align: center;
        line-height: 26px;
    }
}

@media (max-width: 400px) {
    .works_block-items > img,
    .main-board > .main_wraper > img {
        width: 100%;
    }
}

@media (max-width: 375px) {
    .main-board_left-block > div:last-child {
        flex-wrap: wrap;
        justify-content: center;
    }
}